body {
  background: url("./Car.jpg");
  background-size: cover;
  min-height: 100%;
  display: grid;
  place-items: center;
}
h1{
  font-family: "Montserrat", sans-serif;
}
input{
  display: block;
  width: 100%;
  border: none;
  font-size: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}
button{
  padding: 20px 40px;
  background-color: #00802b;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: #e6e6e6;
}
p{
  max-width: 100%;
  background: #cce6ff;
  margin-top: 17px;
  font-family: "Montserrat", sans-serif;
  width: 700px;
  padding: 12px;
  font-size: 18px;
}
